@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    ViewData["Title"] = "Account Management";
}



<div class="row bg-color1" style="padding-top: 200px; padding-bottom: 100px;">

    <div class="col">


        <div class="row">
            <div class="col">
                <h1 class="text-uppercase text-center">@ViewData["Title"]</h1>
                <hr class="bg-color3 mx-auto w-25 border border-color3 border-3" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-3 bg-color2 p-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-5 bg-color2 p-3">
                @RenderBody()
            </div>


            <div class="col-md-2">

            </div>


        </div>




    </div>


</div>



















@section Scripts {
    @RenderSection("Scripts", required: false)
}
