@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid bg-tealc">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-4">
                <h1>Welcome to Word Division Puzzles</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-0">
    <div class="container-fluid p-0 bg-tealc">
        <div class="row gx-0">
            <div class="col-8 p-4 mb-2 bg-lavender" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lectus, efficitur nec massa eu, malesuada venenatis elit. Sed tincidunt odio sed vestibulum luctus. In hendrerit rutrum sem id consequat. Morbi euismod ipsum a odio dignissim, a tempus mauris commodo. Nam sodales vestibulum ipsum, ut vulputate dolor pharetra nec. Donec non purus et enim ultricies efficitur nec at sapien. Vestibulum id neque ut lectus rutrum scelerisque vel eu risus. Suspendisse eu porta metus, ut pulvinar nulla. Nunc feugiat, urna vel pellentesque molestie, est erat efficitur ex, nec cursus quam massa sagittis metus.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi lectus, efficitur nec massa eu, malesuada venenatis elit. Sed tincidunt odio sed vestibulum luctus. In hendrerit rutrum sem id consequat. Morbi euismod ipsum a odio dignissim, a tempus mauris commodo. Nam sodales vestibulum ipsum, ut vulputate dolor pharetra nec. Donec non purus et enim ultricies efficitur nec at sapien. Vestibulum id neque ut lectus rutrum scelerisque vel eu risus. Suspendisse eu porta metus, ut pulvinar nulla. Nunc feugiat, urna vel pellentesque molestie, est erat efficitur ex, nec cursus quam massa sagittis metus.
                </p>
            </div>
            <div class="col-4 p-4 bg-tealc">
                test
            </div>
        </div>
    </div>
</div>