@model BL.Puzzle

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Puzzle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UId" class="control-label"></label>
                <input asp-for="UId" class="form-control" />
                <span asp-validation-for="UId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed" class="control-label"></label>
                <input asp-for="Seed" class="form-control" />
                <span asp-validation-for="Seed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolvedBy" class="control-label"></label>
                <input asp-for="SolvedBy" class="form-control" />
                <span asp-validation-for="SolvedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dividend" class="control-label"></label>
                <input asp-for="Dividend" class="form-control" />
                <span asp-validation-for="Dividend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Divisor" class="control-label"></label>
                <input asp-for="Divisor" class="form-control" />
                <span asp-validation-for="Divisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quotient" class="control-label"></label>
                <input asp-for="Quotient" class="form-control" />
                <span asp-validation-for="Quotient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letters" class="control-label"></label>
                <input asp-for="Letters" class="form-control" />
                <span asp-validation-for="Letters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solved" class="control-label"></label>
                <input asp-for="Solved" class="form-control" />
                <span asp-validation-for="Solved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
