@model BL.Puzzle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

    string quotient = Model.Quotient;
    string divisor = Model.Divisor;
    string dividend = (Int32.Parse(quotient) * Int32.Parse(divisor)).ToString();
    string letters = Model.Letters; // The letters to replace the numbers in order of 0-9
    int totalColumns = divisor.Length + dividend.Length; // the total number of columns
    string converted = "";

}

@functions {

    // function to convert letters to numbers
    // change bool to false to prevent conversion for testing purposes.
    // May later convert this to an admin uer option.
    public string ConvertToLetter(string aNumber, string letters)
    {
        bool change = true;
        string changed = aNumber;

        if (change == true)
        {
            changed = letters[Int32.Parse(aNumber)].ToString();
        }

        return changed;
    }


}

<div class="row">
    <div class="col-sm-6 bg-color1" style="padding-top: 200px; padding-bottom: 100px;">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="card bg-transparent border-0">

                    <div class="card-body text-end">
                        <h1 class="card-title">Word Division Puzzles</h1>
                        <p class="card-text">Automatic word division logic puzzle generator to challenge your mind to help you feel more smartyfuller than your friends even though your cat probably has better spelling and grammar than you.</p>
                        <a href="#" class="btn btn-primary">Start Here</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="col-sm-6 right-side d-flex" style="min-height:200px;">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row align-self-end">
            <div class="col ">
                <small class="text-white p-3">Image of cat thinking about attacking you.</small>
            </div>
        </div>
    </div>
</div>



<div class="row">


    <div class="col-sm-6 left-side bg-color4 d-flex" style="min-height:200px;">
        <div class="row align-self-end">
            <div class="col-12 text-end">
                <small class="text-white">Cat ignoring you probably because you did not feed it within 60 seconds of waking you up with a claw stuck in your toe.</small>
            </div>
        </div>
    </div>

    <div class="col-sm-6 bg-color1" style="padding-top: 50px; padding-bottom: 100px;">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6">
                <div class="card bg-transparent border-0">

                    <div class="card-body text-start">
                        <h1 class="card-title">Cat Ignoring You?</h1>
                        <p class="card-text">There is nothing like a square piece of paper, a pen, and your fixed attention on something other than your cat, to attract their attention!</p>
                        <p class="card-text">All you have to do is start up a word division puzzle, put pen to paper while doing some math, and your cat will be their in no time.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>



</div>